* {
font-family:'Montserrat';
}

body{
    margin: 0;
}
.page-header-menu-navigation{
    width: 1280px;
    height: 78px;
}

.page-header-menu {
   text-align: center; 
}
.page-header-menu-link {
    color: red;
    font-family: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.page-header-menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 72px;
   
}

.img {
 text-align: center;
}   
.head-heiding{
    text-align: center;
    text-transform: uppercase;
    margin: 48px 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
 
.conteiner {
    display: block;
    text-align: center;
   
}

.conteiner-text {
    display: inline-block;
    text-align: center;
    width: 1145px;
    margin: 38px 67.5px 28px 67.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.holder {
    display: block;
    text-align: center;
}

.holder-title {
    display: inline-block;
    text-align: center;
    width: 1145px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
 
.box {
    text-align: center;
    margin-top: 66px;
}

.box-button {
    background-color: red;
    width: 151px;
    height: 51px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    border: 1px red;
    border-radius: 4px;

}

.content {
    width: 1280px;
    margin: 0 auto;
}
.content-list{
     margin-top: 82px;
     margin-right: 105px; 
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 2.4px;
     text-align: right;
}